<h3>Chats</h3>
<hr>

<div id="app-mensajes" class="app-mensajes">

  <div *ngFor="let chat of _chatService.chats | async"
       [ngClass]="{ 'text-right': _chatService.usuario.nombre == chat.nombre}">
    <span class="badge badge-pill" [ngClass]="{ 'badge-primary': _chatService.usuario.nombre == chat.nombre,
                                                'badge-success': _chatService.usuario.nombre != chat.nombre }">
      {{ chat.nombre }}
    </span>
    <p>{{ chat.mensaje }}</p>
  </div>

</div>

<form [formGroup]="mensaje_form">
  <input type="text" class="form-control" placeholder="mensaje..." formControlName="mensaje" (keyup.enter)="enviar()">
</form>
